name: 'install esmeta'

runs:
  using: "composite"
  steps:
    - name: setup JDK
      uses: actions/setup-java@v4
      with:
        distribution: temurin
        java-version: 17
    - name: setup SBT
      uses: sbt/setup-sbt@v1
    - name: set esmeta version and path
      shell: bash
      run: |
        echo "ESMETA_VERSION=v0.7.1" >> $GITHUB_ENV
        echo "ESMETA_HOME=vendor/esmeta" >> $GITHUB_ENV
    - name: clone esmeta
      run: |
        mkdir -p "${ESMETA_HOME}"
        git clone --branch $ESMETA_VERSION --depth 1 https://github.com/es-meta/esmeta.git "${ESMETA_HOME}"
    - name: build esmeta
      run: |
        cd "${ESMETA_HOME}"
        sbt assembly
    - name: link ecma262
      run: |
        rmdir "${ESMETA_HOME}"/ecma262 \
          && ln -s "$(pwd)" "${ESMETA_HOME}"/ecma262
